$basic-red: #f73e40;
$transparent-red: #fc5b5d47;
$dark-grey: #8a0303c7;

$middle-grey: #444;

$basic-grey: #333;

$text-shadow-red: #e40404a6;
$light-grey: #666;

$flat-white: white;
$basic-red-gradient: linear-gradient(to right, #fc5b5d 0%,#f73e40 100%);